.cars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 0px;
    gap: 60px;
    
    width: 1920px;
    height: 852px;
}

.cars > .texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    
    width: 1920px;
    height: 152px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

h4 {
    height: 83px;
    margin-left: 100px;

    font-family: 'American Captain';
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 110px;

    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

    flex: none;
    order: 0;
    flex-grow: 0;
}

.cars > .texts > .text {
    width: 541px;
    height: 29px;
    margin-left: 100px;
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    flex: none;
    order: 1;
    flex-grow: 0;    
}

.araba1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;

    width: 1920px;
    height: 270px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.tesla {
    position: relative;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.teslaText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 28px;

    position: absolute;
    width: 389px;
    height: 145px;
    left: 90px;
    top: 63px;
}

.teslaText > .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    
    width: 389px;
    height: 72px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.teslaText > .texts > .title {
    width: 199px;
    height: 38px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.teslaText > .texts > .text {
    width: 389px;
    height: 24px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 142px;
    height: 45px;
    border: 2px solid white;
    border-radius: 8px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
}

figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.araba2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;

    height: 270px;

    flex: none;
    order: 1;
    flex-grow: 0;
}